<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>The Godfather movie Characters</title>
  </head>
  <body class="bg-[#020202] text-[#DDCF96] font-medium mx-auto max-w-7xl">
    <!-- Header -->
    <%- include("partials/header") %>

    <!-- Characters -->
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-6 max-sm:px-12"
    >
      <% characters.map(character => { %>
      <div
        class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-gray-900/50 text-center shadow ring-2 ring-inset ring-[#DDCF96] group p-8"
      >
        <div class="flex flex-col items-center p-4 gap-6">
          <img
            src="<%= character.image %>"
            alt="<%= character.name %>"
            class="mx-auto size-32 shrink-0 rounded-full"
          />
          <h2
            class="text-sm font-semibold text-[#DDCF96] group-hover:scale-125 duration-300"
          >
            <%= character.name %> <%= character.lastname %>
            <!-- <%= character.name %> <%= character.lastname %> -->
          </h2>

          <!-- Link -->
          <a
            href="/character/<%= character.username %>"
            class="inline rounded-full bg-transparent py-1 text-xs font-semibold text-gray-200 hover:text-[#DDCF96]"
            >View Profile</a
          >
        </div>
        <div class="group-hover:scale-105 duration-300"></div>
      </div>
      <% }); %>
    </div>

    <!-- Footer -->
    <%- include("partials/footer") %>
  </body>
</html>
